

.deleteButton {
    display: inline-block; 
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #ff1a1a;
}
